{% extends 'base.html' %}

{% block title %}Room{% endblock %}

{% block content %}

{% if user.is_authenticated %}

 <div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-12">
            <div class="alert alert-info d-flex justify-content-between" role="alert">
                <h5>ROOM :- {{room_name}}</h5>
                {% if room_type == "private"%}
                <button type="button" class="btn btn-secondary" onclick="addmembers()" data-dismiss="modal">Show Member</button>
                {% endif %}
            </div>
            <form>
                <div class="form-group">
                    {% if messages %}
                    <div class="jumbotron" id="chatbox" style="padding: 4px 2px; max-height: 500px; overflow-y: scroll;">
                        {% for message in messages %}
                        {% if message.content != '' and message.content != 'null'%}
                            <div class="chat-message {% if message.user == request.user %}text-right{% else %}text-left{% endif %}">
                                <b>{{ message.user.username }}</b> : {{ message.content }}<br>
                            </div>
                        {% endif %}
                            {% if message.image %}
                              <br>
                        <div class="chat-image {% if message.user == request.user %}text-right{% else %}text-left{% endif %}">
                          <b>{{ message.user.username }}</b> :
                          <img src="{{ message.image.url }}" alt="Image" style="max-width: 100px;">
                        <br>
                        </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% else %}
                    <div class="jumbotron" id="chatbox" style="padding: 4px 2px;"></div>
                    <b id="nomessages">No Messages in this Room.</b>
                    {% endif %}
                </div>
                <br/>
                <div class="form-row align-items-center"id="test">
                    <div class="col-10">
                        <input class="form-control" placeholder="Enter text here" id="my_input" type="text" required>
                    </div>
                    <div class="col-2 img-button">
                        <label for="upload_image" class="btn btn-primary">
                            <i class="fas fa-image"></i>
                            <input type="file" id="upload_image" style="display: none;">
                        </label>
                    </div>
                </div>
                <br>
                <br/>
                <input class="btn btn-primary btn-lg btn-block" id="submit_button" type="button" value="Send">
            </form>
            <div class="restrict_message">
             <b id="restrict_message">You are no loneger part of the group, you can send or read new messages.</b>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="adduser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Members</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="user-list" style="padding: 4px 2px; max-height: 200px; overflow-y: scroll;">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{{slug|json_script:"room_slug"}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
 
 getMessagePermission();
 function getMessagePermission() {
        var roomId = window.location.pathname.split('/')[2]
        $.ajax({
            type: 'GET',
            url: '/members/room/' + roomId + '/message-permission',
            contentType: 'application/json', 
            success: function (response) {
            if(response['restrict_messaging'] === true){
                document.getElementById("submit_button").style.display = "none";
                document.getElementById("test").style.display = "none";
                 document.getElementById("restrict_message").style.display = "block";

            }
            else{
                document.getElementById("restrict_message").style.display = "none";
            }
            },
            error: function (error) {
                console.log('Error:', error);
            }
        });
    }

  const chatbox = document.querySelector("#chatbox");

  function scrollToBottom() {
    chatbox.scrollTop = chatbox.scrollHeight;
  }

  scrollToBottom();

 
    const roomName= JSON.parse(document.getElementById('room_slug').textContent);
    const chatSocket = new WebSocket("ws://" + window.location.host + "/ws/"+ roomName +"/");
    chatSocket.onopen = function (e) {
      console.log("The connection was setup successfully !");
    };
    chatSocket.onclose = function (e) {
      console.log("Something unexpected happened !");
    };

    document.querySelector("#my_input").focus();
    document.querySelector("#my_input").onkeyup = function (e) {
      if (e.keyCode == 13) {
        e.preventDefault();
        document.querySelector("#submit_button").click();
      }
    };
    document.querySelector("#submit_button").onclick = function (e) {
      var messageInput = document.querySelector(
        "#my_input"
      ).value;
      
      var fileInput = document.querySelector("#upload_image").value;
      var filename = ""
      if(fileInput){
          var file = fileInput.split("\\")[2]
          var filename = 'uploads/'+file.replace(/\s+/g, '_');
      }

      if(messageInput.length == 0 && filename.length === 0)
        {
            alert("Add some Input First Or Press Send Button!")
        }
        else
        {
          chatSocket.send(JSON.stringify({ 
            message: messageInput,
             username : "{{request.user.username}}",
             room_name:"{{room_name}}",
             room_id:"{{room_id}}",
             image: filename
             })); 
        }
      
    };
    let hasMessagesHidden = false;
    chatSocket.onmessage = function (e) {
    const data = JSON.parse(e.data);

        var div = document.createElement("div");
        var content = "";

        if (data.message) {
            content += "<b>" + data.username + "</b> : " + data.message + "<br>";
            div.classList.add("chat-message", "text-right");
        }

        if (data.image) {
            content += "<b>" + data.username + "</b> : <img src='/media/" + data.image + "' alt='Image'><br>";
            div.classList.add("chat-image", "text-right");
        }

        div.innerHTML = content;

        if (data.username !== "{{ request.user.username }}") {
            div.classList.remove("text-right");
            div.classList.add("text-left");
        }

        document.querySelector("#my_input").value = "";
        document.querySelector("#upload_image").value = "";

        document.querySelector("#chatbox").appendChild(div);

        if (!hasMessagesHidden) {
            document.getElementById("nomessages").style.display = "none";
            hasMessagesHidden = true; 
        }
        scrollToBottom();
    };



    function addmembers(){
      loadUsers();
      $("#adduser").modal('show');
      
    }
    function loadUsers() {
        $.ajax({
            type: 'GET',
            url: '/group-members/' + {{room_id}} + '/', 
            contentType: 'application/json', 
            success: function (response) {
                var userListHtml = '';
                response.users.forEach(function (user) {
                    console.log(user.id)
                    userListHtml += `<div class="user-info" id="user_${user.id}">${user.username} 
                                      <button onclick= "DeleteUserFromGroup(${user.id})">Remove Member</button></div>
                                      `
                });
                $('#user-list').html(userListHtml);
            },
            error: function (error) {

                console.log(error);
            }
        });
      }


    function DeleteUserFromGroup(userId) {
    const csrftoken = getCookie('csrftoken');
    $.ajax({
        type: 'POST',
        url: '/group-members/'+{{room_id}} + '/remove-user/' + userId +'/',
        contentType: 'application/json', 
        headers: {
            'X-CSRFToken': csrftoken
        },
        success: function(response) {
            console.log('Room deleted successfully:', response);
            
            document.getElementById("user_" + userId).remove();
            getMessagePermission()
        },
        error: function(xhr, status, error) {
            console.error('Error deleting room:', error);
        }
    });

  }


  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Check if the cookie contains the CSRF token
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue; 
 };
 </script>
{% else %}
<div class="container">
    <div class="container">
        <div class="alert alert-info">
        <div class="row justify-content-center">
            <div class="col-auto">
                <h5>You are not looged in !</h5>
            </div>
        </div>
    </div>
</div>
{% endif %}

<br/>
{% endblock %}